// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-enter, .fade-transform-leave-to{
    transform: scale(0.9);
    opacity: 0;
}

.fade-transform-enter-to, .fade-transform-leave{
    transform: scale(1);
    opacity: 1;
}
.fade-transform-enter-active, .fade-transform-leave-active {
    transition: all 0.3s;
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
