* {
  box-sizing: border-box;
  color: black;
}

p {
  word-break: break-all;
  word-wrap: break-word;
}


/* Left column */
.leftColumn {
  float: left;
  width: 75%;
}

/* 文章卡片效果 */
.card {
  margin-top: 20px;
  padding: 20px;
}






